@model datacsvproj.Models.data

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>data</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.mark1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.mark1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.mark2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.mark2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.total)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
