@model IEnumerable<datacsvproj.Models.data>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mark1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mark2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.total)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Rno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mark1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mark2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.total)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.Rno}) |
                    @Html.ActionLink("Details", "Details", new {id=item.Rno /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.Rno/* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
